node_modules/
ios/.derivedDataAgent/

firestore-debug.log
storage-debug.log
*.xcuserstate
ios/bitchcup/bitchcup/Resources/GoogleService-Info.plist
*.cursorios/bitchcup/bitchcup.xcodeproj/project.xcworkspace/xcuserdata/lindsayfeinberg.xcuserdatad/UserInterfaceState.xcuserstate
